<h2>Room Name: <%= @room.name %></h2>
<h3>Room Color: <%= @room.room_color %></h3>
<h3>Room Prop: <%= @room.room_prop %></h3>
<h3>Room Sense: <%= @room.room_sense %></h3>
<h3>Room Exit: <%= @room.room_exit %></h3>




<form action="/rooms/<%= @room.name %>" method="get">

  <button type="submit" class="btn" name="left">Proceed left</button>
  <button type="submit" class="btn" name="straight">Proceed straight</button>
  <button type="submit" class="btn" name="right">Proceed right</button>

</form>
